@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*Fonter*/
$Jost: "Jost", sans-serif;
$Regular: 400;
$Bold: 700; 
$Black: 900;

/*Farger*/
$sand: #F4E9CD;
$blue-green: #9DBEBB;
$green-ish: #77ACA2;
$dark-green-blue: #468189;
$dark-blue: #031926;
$white: #f3f0e8;
