@import "./_global.scss";
.arbeidslogg-box,
.arbeidslogg-section,
.article_logg {
  font-family: $Jost;
}


.arbeidslogg-section {
    max-width: 100%;
    margin: auto;
    max-height: 200px;
    overflow-y: auto;
    padding: 0.5rem;    
  }  


  .article_logg {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #333;
    background-color: $dark-green-blue;
    
    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    
    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

  
    &:nth-child(even) {
      background-color: $dark-blue;
    }
  
    span {
      color: $sand;
      font-size: 0.95rem;
  
      &:nth-child(1) {
        flex-basis: 120px;  //Dato
        flex-shrink: 0;
      }
  
      &:nth-child(2) {  //Navn
        flex-basis: 250px;
        flex-shrink: 0;
        text-align: left;
      
        .loggpersoner-wrapper {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          color: $sand;
        }
      }
  
      &:nth-child(3) {
        flex-grow: 1;       //Beskrivelse
        white-space: normal;
        text-align: left;
      }
  
      &:nth-child(4) {
        flex-basis: 50px;   //Timer
        text-align: right;
        flex-shrink: 0;
      }
    }
  }

  .arbeidslogg-box {
    max-width: 1200px;    
    overflow-y: auto;
    background-color: $blue-green;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #333;    
    scroll-behavior: smooth;
    margin-bottom: 4rem;
  }

  h2.arbeidslogg-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }