@use "global";

header{
    background-color: global.$green-ish;//$dark-green-blue;

    section {
        @include global.content-width();

        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    a{
        font-weight: global.$Bold;
    }  

    .logo{
        display: block;
        font-size: 3rem;
        color: global.$dark-blue;
        text-decoration: none;
        font-weight: global.$Black;
        padding: inherit;
    }

    ul{
        @include global.flex-display(row, wrap, flex-start, center, 1rem);
        padding: 0;

        li{
            list-style: none;
            padding: 1rem;

            a{  
                color: global.$sand;
                background-color: global.$dark-blue;
                padding: inherit;
                border-radius: 0.5rem;
                transition: .25s;
            }
        }
    }
    a.active{
        color: global.$dark-blue;
        background-color: global.$blue-green;//$green-ish;//$blue-green;//$sand; 
        border-width: 2px;
        border-color: global.$dark-green-blue;
        border-style: solid;
    }
}


//Mobil
@media only screen and (max-width: 650px){
    header{
        section {
            flex-direction: column;
        }
       
        ul{
            text-align: center;
            flex-direction: column;
        }

        .logo {
            margin-bottom: 1rem;
        }
    }
}


//PC
@media only screen and (min-width: 651px){ 
    header{
        section{
            @include global.flex-display(row, nowrap, space-between, center);
        }
        li{
            a:hover{
                background-color: global.$blue-green;
            }
        }
        a:hover{
            color: global.$dark-blue;
        }
    }
}