@use "global";

header{
    background-color: global.$green-ish;//$dark-green-blue;

    section {
        @include global.content-width(2rem, 2rem, 1380px);
        @include global.flex-display(row, nowrap, space-between, center);

        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    a{
        font-weight: global.$Bold;
    }  
    .logo{
        font-size: 3rem;
        padding: 0 1rem;
        display: flex;
        align-items: center; 
        color: global.$dark-blue;
        text-decoration: none;
        font-weight: global.$Black;
        padding: inherit;
    }
    ul{
        @include global.flex-display(row, wrap, flex-start, flex-start, 1rem);
    padding: 0;
    li{
        list-style: none;
        padding: 1rem;

        a{  
            color: global.$sand;
            background-color: global.$dark-blue;
            padding: inherit;
            border-radius: 0.5rem;
            transition: .25s;
        }
    }
}
}


//Mobil
@media only screen and (max-width: 600px){
    header{
        section {
            flex-direction: column;
        }
       
        ul{
        text-align: center;
        flex-direction: column;
        }
    }
}


//PC
@media only screen and (min-width: 601px){ 
    header{
        li{
            a:hover{
                background-color: global.$blue-green;
            }
        }
        a:hover{
            color: global.$dark-blue;
        }
    }
}