@import "global.scss";


.profilkort{
    display:flex;
    flex-wrap:wrap;

}
article{
    background-color: $sand;
    width: 250px;
    height: 350px;
    color: $dark-blue;
    margin: 0.5rem;
    padding: 1rem;
    display:flex;
    flex-direction: column-reverse;
    text-align: left;

    a{
        margin:0;
    }

    p{
        margin:0.5rem 0 0 0;
    }


    img{
        width: 250px;
        height: 300px;
        object-fit: cover;
    }
}