@use "global";

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: global.$Jost;
    background-color: global.$white;
}

h1, h2, p {
    color: global.$dark-blue;
}

p {
    line-height: 1.5;
    font-size: global.$text-m;
}

section {
    margin: 0 auto;
    @include global.content-width();
}